body {

}
ul {list-style: none;}
.main_menu {
  background-color: #eee;
  ul {
    li {
      float: left;
      ul {
        display: none;
      }
    }
  }
}
#nz-header {
  border-bottom: 1px solid #ebebeb;
  .header-logo {
    a {
      img {
        max-height: 100px;
      }
    }
  }
}
